/* Fonts Weights
**********************/

$thin: 300;
$light: 300;
$regular: 400;
$semibold: 600;
$bold: 700;
$extrabold: 800;

/* Fonts Families
********************,**/

$Gibson: "canada-type-gibson",
Helvetica,
Arial,
sans-serif;
$Lato: "Lato",
Helvetica,
Arial,
sans-serif;

/* Z-Index
**********************/

$zIndex-1: 100;
$zIndex-2: 200;
$zIndex-3: 300;
$zIndex-4: 400;
$zIndex-5: 500;
$zIndex-6: 600;
$zIndex-7: 700;
$zIndex-8: 800;
$zIndex-9: 900;

/* Main Colors
**********************/

$white: #FFFFFF;
$black--light: #0D1733;
$gray--light: #EEEEEE;
$blue--darker: #151E32;
$black-blue: #1B2333;
$gray--dark: #333333;
$blue--dark: #1D2840;
$orange--dark: #CF4127;
$blue--medium: #334161;
$orange--medium: #E66759;
$blue--light: #728AB0;
$orange--light: #EFA79B;
$blue--lighter: #9DB8D9;
$orange--light: #F1CDBF;
$blue--banner: #222E50;
$rose--learn: #E44F4C;
$purple: #565699;
$black: #000000;
$orange: #DF4722;
$red: #CC3E1F;
$gray--med: #888888;
$gray: #333333;

/* Colors for Connect
**********************/

$green-connect: #47733F;
$green-connect--lighter: #619252;

/* Colors for Learn
**********************/

$orange-learn: #B64834;
$orange-learn--darker: #A63E2B;

/* Colors for Learn
**********************/

$aqua-research: #68A99D;
$aqua-research--darker: #519387;
$yellow-research: #F0B051;

/* Colours  for Dashboard
**********************/

$blue-db: #1E8ED6;
$purple-db: #7D48A2;
$green-db: #5D8E4E;

/* Colours  for Passport
**********************/

$blue: #0079BB;

/* Colours  for card resources
**********************/

$cr-orange1: #F05C22;
$cr-orange2: #c33d1c;
$cr-shadow: rgba(0, 0, 0, 0.2);
$cr-pimary: #0d1733;
$cr-gray: #CDD2D8;
$cr-bb-border: #323E56;
$cr-locked-modules: #5F6062;
