

/* Vertical Rhythm
**********************/


$base-font-size: 16px;
$base-line-height: 16px;
$rhythm-unit: "rem";


/* Fonts Families
**********************/

$Gibson: "canada-type-gibson",Helvetica, Arial, sans-serif; 
$Lato: "Lato", Georgia, 'Times New Roman', serif;

/* Fonts Weights
**********************/


$thin: 300;
$light: 300;
$regular: 400;
$semibold: 600;
$bold: 700;
$extrabold: 800;



/* Z-Index
**********************/


$zIndex-1: 100;
$zIndex-2: 200;
$zIndex-3: 300;
$zIndex-4: 400;
$zIndex-5: 500;
$zIndex-6: 600;
$zIndex-7: 700;
$zIndex-8: 800;
$zIndex-9: 900;


/* Colors
**********************/


$white: #FFFFFF;
$white-semismoked: #FAFAFA;
$white-smoked: #EFEFEF;
$black: #000000;
$orange: #F35908;
$red: #D14946;
$red-light-coral: #FFCCBC;
$red-dark-coral: #BF360C;
$gray: #333333;
$light-gray:#DDDDDD;
$midlight-gray:#CCCCCC;
$mid-gray: #666666;
$yellow-amber: #FFECB3;
$orange-amber: #FF6F00; 
$yellow: #F5B62B;
$gold: #EDC900;
$olive: #BAAE00;
$green: #85B65A;
$aqua: #91ABCF;
$baby-blue: #6EA7CF;
$blue: #1660A1;
$blue-cobalt: #4A90E2;
$purple: #6C6BBC; 
$dark-purple: #554959;
$brown: #B2AB9A;
$mid-brown: #DFDAD6;
$light-brown: #ECE9E6;
