.passport-onefaculty-container {
  clear: both;
  margin: auto;
  max-width: 1280px;
  border: 0 1px 0 1px;
  border-color: #ccc;
  border-style: dotted;
}

.passport-onefaculty-container .sidebar-profile {
  position: relative;
  top: 90px;
  background-color: #fff;
}

.passport-onefaculty-container .sidebar-profile img {
  top: -3px;
  max-width: 200px;
  width: 105%;
  text-align: center;
  margin: auto;
  position: relative;
}

.sidebar-profile__full-name {
  color: #404040;
}

/*
.passport-onefaculty-container .sidebar-profile .button-camera {
	z-index: 100;
	position: absolute;
	top: 0;
	left: 63%;
	bottom: 0;
}
*/
.passport-onefaculty-container .sidebar-profile .button-camera {
  height: 40px;
  padding: 8px 0;
  position: absolute;
  left: 68%;
  top: -6px;
  background-color: #CC3E1F;
  border-radius: 50px;
  z-index: 99;
}

.sidebar-profile__profilepic {
  height: 160px;
  margin: 0 auto 20px auto;
}

.block-profile-interests .nav-tags-menu a {
  margin: 0 5px 5px 0;
}

/*
.sidebar-profile__experience-info {
	background-color: #636363;
	padding: 25px 15px;
}

.sidebar-profile__experience-info h3 {
	color: #fff;
	font-weight: 300;
	line-height: 22px;
	font-size: 17px;
	margin: 17px auto;
	letter-spacing: 1px;
}

.passport-onefaculty-container .sidebar-profile__logo-institution {
	position: inherit;
}

*/
.sidebar-profile__experience-info {
  padding: 5px;
  border-top: dotted 1px #ccc;
  border-bottom: dotted 1px #ccc;
}

.sidebar-profile__experience-info h3 {
  color: #333;
  font-weight: 300;
  line-height: 22px;
  font-size: 14px;
  margin: 10px auto;
  letter-spacing: 1px;
}

.passport-onefaculty-container {
  border: 0;
}

.passport-onefaculty-container .sidebar-profile__logo-institution {
  display: none;
}

i.icon-linkedin-isolated {
  /* display: none; */
}

@media only screen and (min-width: 40.5em) {
  .passport-onefaculty-container .board-profile {
    height: auto;
    padding: 40px 30px;
    margin: 50px auto;
  }
}

.passport-onefaculty-container .sidebar-profile__menu ul {
  background-color: transparent;
}

.passport-onefaculty-container .sidebar-profile__menu li {
  color: #ccc;
  background-color: #fff;
  border-bottom: dotted 1px #ccc;
}

.passport-onefaculty-container .sidebar-profile__linkedin-info {
  display: none;
}

.passport-onefaculty-container .sidebar-profile__menu li a {
  color: #404040;
}

.footer {
  width: 100%;
  clear: both;
}

/* passport creator steps **/
.passport-onefaculty .sidebar--passport-interests {
  background-color: #007ab8;
}

.passport-onefaculty .nav-interactive-bubles-menu a.selected {
  background-color: #007ab8;
}

.passport-onefaculty .onboard-content--passport-interests .nav-horizontal-tab-menu a.selected {
  background-color: #007ab8;
  border: 0;
}
