/* Base  
**********************/
/* Vertical Rhythm
**********************/
/* Fonts Families
**********************/
/* Fonts Weights
**********************/
/* Z-Index
**********************/
/* Colors
**********************/
/* labels 
**********************/
body {
  background-color: #F2F2F2;
}

h1,
h2,
h3,
h4,
h5 {
  vertical-align: top;
  margin: 0;
  padding: 0;
}

h2 {
  font-weight: 800;
  adjust-font-size-to: 40px;
}

h3 {
  font-weight: 800;
  adjust-font-size-to: 30px, 2.5;
}

a {
  text-decoration: none;
  display: block;
  cursor: pointer;
}

ul {
  margin: 0;
  padding: 0;
}

li {
  margin: 0;
  padding: 0;
  list-style: none;
}

/* Media Queries Mixin
**********************/
/* Modules
**********************/
/* Styles for background
 **********************/
.full-background {
  width: 100%;
  height: 100%;
  position: absolute;
  overflow: hidden;
  top: 0;
  left: 0;
  z-index: 0;
  background-color: #000000;
}

.background-img {
  min-width: 100%;
  min-height: 100%;
  position: absolute;
  z-index: 100;
  opacity: 0.5;
}

.background-overlay {
  position: absolute;
  margin: auto;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: 200;
}

/* Styles for Login Box 
 **********************/
.container-is-relative {
  position: relative;
}

.box {
  box-sizing: border-box;
}

.login-box {
  min-height: 350px;
  padding: 40px 90px 60px;
  margin-top: 2vh;
  margin-bottom: 60px;
  font-weight: 300;
  background-color: #FFFFFF;
}

.login-box a {
  font-weight: 700;
}

.login-box a:hover {
  text-decoration: none;
}

@media only screen and (max-width: 40em) {
  .login-box {
    padding: 30px 40px 40px;
    margin: 0;
  }
}

@media only screen and (min-width: 64em) {
  .login-box {
    min-height: 650px;
    margin-top: 5vh;
  }
}

@media only screen and (min-width: 103em) {
  .login-box {
    margin-top: 10vh;
    padding-top: 60px;
  }
}

.heading-logo {
  max-width: 250px;
  margin-bottom: 10px;
}

.logo-standard--small {
  max-width: 250px;
  max-height: 40px;
}

.login-heading--has-border-bottom {
  padding-bottom: 5px;
  margin-bottom: 15px;
  border-bottom: 1px solid #DDDDDD;
}

.login-options p {
  color: #666666;
}

.login-options--has-border-top {
  padding-top: 15px;
  margin-top: 15px;
  border-top: 1px solid #DDDDDD;
}

/* Styles for Login Box Form
 **********************/
.form-item {
  position: relative;
  padding: 15px 0;
}

.form-item p {
  line-height: 1em;
}

.form-item p img {
  margin: 0 10px;
}

.form-input {
  width: 100%;
  height: 45px;
  padding-left: 60px;
  text-align: left;
  border-radius: 5px;
  border: 1px solid #DDDDDD;
  -webkit-appearance: none;
  -webkit-transition-duration: .5s;
          transition-duration: .5s;
  -webkit-transition-property: all;
          transition-property: all;
}

.form-input:focus {
  outline: none;
  border: 1px solid #CCCCCC;
  background-color: #FAFAFA;
}

.form-item input:-webkit-autofill {
  -webkit-box-shadow: 0 0 0px 100px white inset;
}

.form-input--error {
  border: 1px solid #BF360C;
}

.form-item--condensed {
  padding: 5px 0;
}

.label-staylogged {
  margin-left: 10px;
  cursor: pointer;
  font-weight: 400;
}

@media only screen and (max-width: 40em) {
  .label-staylogged {
    margin-right: 4px;
    font-size: 13px;
  }
}

@media only screen and (max-width: 40em) {
  .forgot-password {
    margin-top: 3px;
    font-size: 13px;
  }
}

.office-logo {
  width: 40px;
  height: 40px;
}

@media only screen and (max-width: 40em) {
  .office-logo {
    width: 20px;
  }
}

.button {
  min-height: 40px;
  height: auto;
  border: none;
  border-radius: 5px;
  font-weight: 700;
  text-transform: uppercase;
  color: #FFFFFF;
  -webkit-transition-duration: .5s;
          transition-duration: .5s;
  -webkit-transition-property: all;
          transition-property: all;
}

.button:hover {
  color: #FFFFFF;
  opacity: 0.95;
}

.button i {
  font-size: 25px;
}

.button--has-full-width {
  width: 100%;
}

.button--has-orange {
  background-color: #F35908;
}

.button--has-blue {
  padding-top: 10px;
  background-color: #4A90E2;
}

.button--has-gray {
  background-color: #666666;
}

.is-disabled {
  background-color: #CCCCCC;
  cursor: default;
}

/* Styles for Icons
 **********************/
.input-icon {
  height: 25px;
  width: 25px;
  display: block;
  position: absolute;
  top: 25px;
  left: 15px;
  font-size: 25px;
  opacity: 0.35;
}

.icon-email {
  background-image: url("../img/icons/icon-email.svg");
  background-size: 25px;
}

.icon-padlock {
  background-image: url("../img/icons/icon-padlock.svg");
  background-size: 25px;
}

.icon-flag {
  background-image: url("../img/icons/icon-flag.svg");
  background-size: 25px;
}

.icon-circle-help {
  height: 22px;
  width: 22px;
  display: inline-block;
  vertical-align: top;
  margin: 0 10px;
  background-image: url("../img/icons/icon-circle-help.svg");
  background-size: 22px;
}

.icon-simple-close {
  height: 10px;
  width: 10px;
  display: block;
  background-image: url("../img/icons/icon-simple-close.svg");
  background-size: 10px;
}

/* Styles for Animated Label 
 **********************/
.form-label {
  position: absolute;
  top: 28px;
  left: 60px;
  cursor: text;
  font-weight: 300;
  color: #CCCCCC;
  -webkit-transition-duration: .25s;
          transition-duration: .25s;
  -webkit-transition-property: all;
          transition-property: all;
}

.is-active .form-label {
  position: absolute;
  top: -6px;
  left: 10px;
  font-size: 12px;
  color: #333333;
}

.is-active .input-icon {
  opacity: 1;
}

/* Styles for Dropdown
 **********************/
.dropdown .form-input {
  padding-top: 10px;
  font-weight: 300;
  color: #CCCCCC;
}

.dropdown i {
  top: 10px;
}

.icon-caret-dropdown {
  width: 20px;
  display: block;
  position: absolute;
  right: 20px;
}

.icon-caret-dropdown::after, .icon-caret-dropdown::before {
  height: 2px;
  width: 12px;
  display: block;
  position: absolute;
  top: 10px;
  content: "";
  background-color: #CCCCCC;
}

.icon-caret-dropdown::after {
  right: 0;
  -webkit-transform: rotate(-45deg);
      -ms-transform: rotate(-45deg);
          transform: rotate(-45deg);
}

.icon-caret-dropdown::after, .icon-caret-dropdown::before {
  -webkit-transition-duration: .3s;
          transition-duration: .3s;
  -webkit-transition-property: -webkit-transform;
          transition-property: transform;
}

.icon-caret-dropdown::before {
  left: 0;
  -webkit-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
          transform: rotate(45deg);
}

/* Extract from Bootstrap
 **********************/
.dropdown {
  position: relative;
}

.dropdown-toggle:focus {
  outline: 0;
}

.dropdown-menu {
  min-width: 100%;
  position: absolute;
  display: none;
  float: left;
  top: 100%;
  left: 0;
  padding: 5px 0;
  margin: 2px 0 0;
  font-size: 14px;
  text-align: left;
  z-index: 900;
  background-color: #ffffff;
  border: 1px solid #cccccc;
  border: 1px solid rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
  list-style: none;
  background-clip: padding-box;
}

.dropdown-menu.pull-right {
  right: 0;
  left: auto;
}

.dropdown-menu .divider {
  height: 1px;
  margin: 9px 0;
  overflow: hidden;
  background-color: #e5e5e5;
}

.dropdown-menu > li > a {
  display: block;
  padding: 8px 20px;
  clear: both;
  font-weight: normal;
  line-height: 1.42857143;
  color: #333333;
  white-space: nowrap;
}

.dropdown-menu > li > a:hover,
.dropdown-menu > li > a:focus {
  text-decoration: none;
  color: #262626;
  background-color: #f5f5f5;
}

.dropdown-menu > .active > a,
.dropdown-menu > .active > a:hover,
.dropdown-menu > .active > a:focus {
  color: #ffffff;
  text-decoration: none;
  outline: 0;
  background-color: #337ab7;
}

.dropdown-menu > .disabled > a,
.dropdown-menu > .disabled > a:hover,
.dropdown-menu > .disabled > a:focus {
  color: #777777;
}

.dropdown-menu > .disabled > a:hover,
.dropdown-menu > .disabled > a:focus {
  text-decoration: none;
  background-color: transparent;
  background-image: none;
  filter: progid:DXImageTransform.Microsoft.gradient(enabled = false);
  cursor: not-allowed;
}

.open > .dropdown-menu {
  display: block;
}

.open > a {
  outline: 0;
}

.dropdown-menu-right {
  left: auto;
  right: 0;
}

.dropdown-menu-left {
  left: 0;
  right: auto;
}

.dropdown-header {
  display: block;
  padding: 3px 20px;
  font-size: 12px;
  line-height: 1.42857143;
  color: #777777;
  white-space: nowrap;
}

.dropdown-backdrop {
  position: fixed;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
  z-index: 990;
}

.pull-right > .dropdown-menu {
  right: 0;
  left: auto;
}

.dropup .caret,
.navbar-fixed-bottom .dropdown .caret {
  border-top: 0;
  border-bottom: 4px dashed;
  border-bottom: 4px solid \9;
  content: "";
}

.dropup .dropdown-menu,
.navbar-fixed-bottom .dropdown .dropdown-menu {
  top: auto;
  bottom: 100%;
  margin-bottom: 2px;
}

/* Styles for Form Errors
 **********************/
.form-item--error-container {
  height: auto;
  padding-top: 0;
}

.box-error {
  padding: 25px 30px 5px 20px;
  border-radius: 5px;
  background: #FFCCBC;
}

.box-error p {
  color: #BF360C;
}

.box-error p a {
  display: inline;
  color: #BF360C;
}

.box-error .close-action {
  background-color: #BF360C;
}

.box-alert {
  margin-top: 15px;
  padding: 20px 30px 5px;
  border-radius: 5px;
  background: #FFECB3;
}

.box-alert p {
  color: #FF6F00;
}

.box-alert p a {
  display: inline;
  color: #FF6F00;
}

.box-alert .close-action {
  background-color: #FF6F00;
}

.close-action {
  position: absolute;
  height: 20px;
  width: 20px;
  top: 8px;
  right: 8px;
  border-radius: 10px;
  padding: 5px;
}

/* Styles for Footer
 **********************/
.wrapper {
  position: relative;
  height: auto;
}

.footer--has-dark-background {
  width: 100%;
  min-height: 150px;
  height: auto;
  position: relative;
  padding: 80px 0;
  z-index: 100;
  border-top: 2px solid #222222;
}

.footer--has-dark-background li {
  display: inline-block;
  vertical-align: middle;
  float: none;
  width: 100%;
  text-align: left;
  margin-top: 4%;
}

.footer--has-dark-background li a {
  color: #CCCCCC;
  -webkit-transition-duration: .25s;
          transition-duration: .25s;
  -webkit-transition-property: all;
          transition-property: all;
}

.footer--has-dark-background li:hover {
  background-color: #000000;
}

.footer--has-dark-background .copyright {
  color: #AAA197;
}

.laureate-logo {
  text-align: left;
}

@media only screen and (min-width: 64em) {
  .laureate-logo {
    text-align: right;
  }
}

.footer--has-dark-background a {
  display: block;
  color: #c2b9ac;
  font-weight: bold;
}

.footer--has-dark-background .footer-links {
  margin: 20px 0;
}

@media only screen and (min-width: 64em) {
  .footer--has-dark-background .footer-links {
    font-size: 14px;
    margin: 0;
  }
}

/* Styles for Loaders
 **********************/
.content-loader {
  max-width: 60px;
  position: relative;
  /*Remove when loader becomes a module*/
  height: 450px;
  padding-top: 220px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 40px;
}

@media only screen and (max-width: 40em) {
  .content-loader {
    padding-top: 100px;
  }
}

.content-loader:after {
  position: absolute;
  display: block;
  content: '';
  clear: both;
}

.content-loader .dot {
  display: block;
  width: 10px;
  height: 10px;
  float: left;
  margin-right: 6px;
  margin-top: 2px;
  border-radius: 50%;
  opacity: 0;
  background-color: #666666;
  -webkit-transform-origin: center center;
      -ms-transform-origin: center center;
          transform-origin: center center;
  -webkit-animation-name: pulse;
          animation-name: pulse;
  -webkit-animation-duration: 1.2s;
          animation-duration: 1.2s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
}

.content-loader .dot:nth-child(2) {
  width: 14px;
  height: 14px;
  margin-top: 0;
  -webkit-animation-delay: .12s;
          animation-delay: .12s;
}

.content-loader .dot:nth-child(3) {
  -webkit-animation-delay: .24s;
          animation-delay: .24s;
}

.content-loader .dot.orange {
  background-color: #F35908;
}

@-webkit-keyframes pulse {
  0% {
    opacity: .15;
    -webkit-transform: scale(1, 1);
            transform: scale(1, 1);
  }
  24% {
    opacity: 1;
    -webkit-transform: scale(1.2, 0.2);
            transform: scale(1.2, 0.2);
  }
  48% {
    opacity: .15;
    -webkit-transform: scale(1, 1);
            transform: scale(1, 1);
  }
  100% {
  }
}

@keyframes pulse {
  0% {
    opacity: .15;
    -webkit-transform: scale(1, 1);
            transform: scale(1, 1);
  }
  24% {
    opacity: 1;
    -webkit-transform: scale(1.2, 0.2);
            transform: scale(1.2, 0.2);
  }
  48% {
    opacity: .15;
    -webkit-transform: scale(1, 1);
            transform: scale(1, 1);
  }
  100% {
  }
}

/* Bar loader
**********************/
.bar-loader {
  width: 0px;
  height: 8px;
  position: absolute;
  top: 100px;
  background: -webkit-linear-gradient(right, #F35908, rgba(255, 255, 255, 0));
  background: linear-gradient(to left, #F35908, rgba(255, 255, 255, 0));
  -webkit-animation: bar 1s ease-in forwards, via 1.5s ease-out forwards;
          animation: bar 1s ease-in forwards, via 1.5s ease-out forwards;
}

@-webkit-keyframes bar {
  0% {
    width: 0px;
  }
  100% {
    width: 100%;
  }
}

@keyframes bar {
  0% {
    width: 0px;
  }
  100% {
    width: 100%;
  }
}

@-webkit-keyframes via {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@keyframes via {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

/* Styles for Modal Terms Window
 **********************/
.modal {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  overflow: auto;
  background: #000000;
  z-index: 400;
}

.modal a {
  display: inline-block;
  color: #F35908;
  font-weight: 700;
}

.modal-content {
  background-color: #FFFFFF;
  color: #555555;
  padding: 30px;
  padding: 30px;
}

@media only screen and (min-width: 64em) {
  .modal-content {
    padding: 10vh;
  }
}

@media only screen and (min-width: 79em) {
  .modal-content {
    padding: 10vh 12vh;
  }
}

.form--terms > h4 {
  font-weight: 700;
  color: #000000;
  margin: 40px 0 15px;
}

.form--terms > p {
  font-size: 15px;
  text-align: justify;
  line-height: 1.5em;
  font-weight: 300;
}

.form--terms-accept-decline {
  min-height: 200px;
  height: auto;
  display: block;
  margin-top: 40px;
  position: relative;
}

@media only screen and (min-width: 64em) {
  .form--terms-accept-decline {
    min-height: 1px;
  }
}

@media only screen and (min-width: 79em) {
  .form--terms-accept-decline {
    padding: 20px 80px 0;
  }
}

.form--terms-accept-decline .is-disabled {
  background-color: #FDE6DA;
}

.message-reread {
  background: #F6F6F6;
  border-radius: 15px;
  min-height: 68px;
  height: auto;
  margin-top: 20px;
  padding: 20px;
  text-align: center;
}

.message-reread > p {
  font-size: 18px;
  margin-bottom: 0;
}

/* Terms Progress
 **********************/
.terms-progress {
  width: 220px;
  margin: 10px auto;
  position: relative;
  height: 40px;
}

@media only screen and (min-width: 64em) {
  .terms-progress {
    width: 270px;
  }
}

.progress-circle {
  background-color: #DDDDDD;
  border-radius: 20px;
  border: 4px solid #F6F6F6;
  position: absolute;
  margin: 10px 20px;
  height: 35px;
  width: 35px;
}

.progress-circle:first-child {
  left: 0;
}

.progress-circle:last-child {
  right: 0;
}

.progress-circle:first-child:after {
  content: '';
  height: 5px;
  width: 115px;
  background-color: #F6F6F6;
  position: absolute;
  display: block;
  left: 30px;
  top: 11px;
}

@media only screen and (min-width: 64em) {
  .progress-circle:first-child:after {
    width: 165px;
  }
}

.progress-circle.current {
  background-color: #D24E2F;
}

.progress-circle.success {
  background: url("../img/icons/icon-check-bold.svg") #B8E986 center no-repeat;
  background-size: 20px;
}

.progress-circle.success:first-child:after {
  background: #B8E986;
}

/* Checkboxes
*********************/
[type="checkbox"]:not(:checked),
[type="checkbox"]:checked {
  position: absolute;
  left: -9999px;
}

[type="checkbox"]:not(:checked) + label,
[type="checkbox"]:checked + label {
  position: relative;
  padding-left: 40px;
  cursor: pointer;
  font-weight: 400;
}

[type="checkbox"]:not(:checked) + label:before,
[type="checkbox"]:checked + label:before {
  content: '';
  position: absolute;
  left: 0;
  top: -3px;
  width: 28px;
  height: 28px;
  border: 2px solid #CCCCCC;
  border-radius: 3px;
  background: #FFFFFF;
}

[type="checkbox"]:checked + label:before {
  border: 2px solid #B8E986;
}

/* Checkbox Effects
**********************/
[type="checkbox"]:not(:checked) + label:after,
[type="checkbox"]:checked + label:after {
  content: '';
  background-image: url("../img/icons/icon-check-bold-green.svg");
  background-size: 28px;
  height: 28px;
  width: 28px;
  position: absolute;
  top: -3px;
  left: 0;
  font-size: 20px;
  color: #F35908;
  -webkit-transition-property: all;
  transition-property: all;
  -webkit-transition-duration: 1s;
  transition-duration: 1s;
}

[type="checkbox"]:not(:checked) + label:after {
  opacity: 0;
  -ms-transform: scale(0);
  -webkit-transform: scale(0);
  transform: scale(0);
}

[type="checkbox"]:checked + label:after {
  opacity: 1;
  -ms-transform: scale(1);
  -webkit-transform: scale(1);
  transform: scale(1);
}

/* Styles for OneFolio Template
 **********************/
.pattern--onefolio {
  background-image: url("../img/global/onefolio-background-pattern.png");
  background-color: #323232;
}

.picture-caption {
  width: 100%;
  position: absolute;
  bottom: -40px;
  left: 0;
  font-weight: 300;
  opacity: 0.75;
  color: #CCCCCC;
}

@media only screen and (max-width: 40em) {
  .picture-caption {
    display: none;
  }
}

.modal--terms-onefolio {
  background: url("../img/global/onefolio-background-pattern-2.png") repeat-x #000000;
}

/* One Folio specific labels for email input due to long placeholder 
**********************/
@media only screen and (max-width: 40em) {
  .pattern--onefolio #email + .form-label {
    height: 20px;
    overflow: hidden;
    font-size: 12px;
  }
}

/* Styles for OneFaculty Template
 **********************/
.pattern--onefaculty {
  font-family: "Lato", Helvetica,  Arial, sans-serif;
  color: #334161;
  background-color: #1D2840;
}

.pattern--onefaculty .full-background {
  background-color: #334161;
}

.modal--terms-onefaculty {
  background: url("../img/global/onefaculty-terms-background.png") repeat-x #000000;
}

.pattern--onefaculty .heading-intro {
  font-weight: 700;
}

.pattern--onefaculty .login-box {
  border-radius: 4px;
  box-shadow: 0 26px 1px -12px rgba(0, 0, 0, 0.15);
}

/* Styles for One Faculty Template Input elements
 **********************/
.pattern--onefaculty .form-input {
  height: 50px;
  border: 2px solid #9DB8D9;
  background-color: #FAFAFA;
  -webkit-appearance: none;
}

.pattern--onefaculty .form-input:focus {
  border: 2px solid #9DB8D9;
  background-color: #FAFAFA;
}

.pattern--onefaculty .input-icon {
  top: 28px;
  opacity: 1;
}

.pattern--onefaculty .form-label,
.pattern--onefaculty .dropdown .form-input {
  color: #728AB0;
}

.pattern--onefaculty .icon-caret-dropdown::after,
.pattern--onefaculty .icon-caret-dropdown::before {
  background-color: #728AB0;
}

.pattern--onefaculty .dropdown i {
  top: 14px;
}

/* Styles for One Faculty Template buttons
 **********************/
.pattern--onefaculty .button {
  height: 50px;
  font-family: "canada-type-gibson", Helvetica, Arial, sans-serif;
}

.pattern--onefaculty .button--has-orange {
  background-color: #CF4127;
}

.pattern--onefaculty .button--has-blue {
  padding-top: 15px;
  background-color: #728AB0;
}

.pattern--onefaculty .open > .dropdown-toggle.btn-default {
  color: #1D2840;
  border-color: #9DB8D9;
}

.pattern--onefaculty .open > .dropdown-toggle.btn-default:hover {
  border-color: #9DB8D9;
}

.pattern--onefaculty .form--terms-accept-decline .button--has-orange.is-disabled {
  background-color: #FDE6DA;
}

/* Styles for One Faculty Template Footer
 **********************/
.pattern--onefaculty .footer--has-dark-background {
  padding: 40px 0;
  border-top: 0;
}

.pattern--onefaculty .footer-has-copyright {
  color: #FFFFFF;
  font-size: 16px;
  font-weight: 300;
}

.pattern--onefaculty .footer-has-powered-by {
  text-transform: uppercase;
}

.pattern--onefaculty .footer-has-powered-by img {
  max-height: 20px;
  margin: 0 5px;
}

/* Styles for One Faculty Template Input Icons
 **********************/
.pattern--onefaculty .icon-email {
  background-image: url("../img/icons/icon-email-blue.svg");
}

.pattern--onefaculty .icon-padlock {
  background-image: url("../img/icons/icon-padlock-blue.svg");
  background-size: 25px;
}

.pattern--onefaculty .icon-flag {
  background-image: url("../img/icons/icon-flag-blue.svg");
  background-size: 25px;
}

/* Shame on you and your Code
**********************/
/* You know what this does. Repeat yourself "I need to code better CSS"
 **********************/
/* Hack for full height in all the pages. This is created because Angular creates a single div as a container for all the layout.
 **********************/
#main-content {
  height: 100%;
  padding-top: 1px;
  margin-top: -1px;
}
