/* Styles for background
 **********************/

.full-background {
	width: 100%; 
	height: 100%;
	position: absolute;
	overflow: hidden;
	top: 0; 
	left: 0;
	z-index: 0;
	background-color: $black;
}

.background-img {
	min-width: 100%	; 
	min-height: 100%; 
	position: absolute;
	z-index: $zIndex-1;
	opacity: 0.5;
}

.background-overlay {
	position: absolute;
	margin: auto;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	z-index: $zIndex-2;
}

/* Styles for Login Box 
 **********************/

.container-is-relative {
  position: relative;
}

.box {
	box-sizing: border-box;
}

.login-box {
	min-height: 350px;
	padding: 40px 90px 60px;
	margin-top: 2vh;
	margin-bottom: 60px;
	font-weight: $thin;
	background-color: $white;
	a {
		font-weight: $bold;
		&:hover {
			text-decoration: none;
		}
	}
	@include media(mobile-only) { 
    padding: 30px 40px 40px;
		margin: 0;
  } 
	@include media(desktop-s) { 
    min-height: 650px;
		margin-top: 5vh;
  } 
	@include media(desktop-l) { 
		margin-top: 10vh;
		padding-top: 60px;
  } 
}

.heading-logo {
	max-width: 250px;
	margin-bottom: 10px;
}

.logo-standard--small {
	max-width: 250px;
	max-height: 40px;
}

.login-heading--has-border-bottom {
	padding-bottom: 5px;
	margin-bottom: 15px;
	border-bottom: 1px solid $light-gray;
}

.login-options p {
	color: $mid-gray;
}

.login-options--has-border-top {
	padding-top: 15px;
	margin-top: 15px;
	border-top: 1px solid $light-gray;
}

/* Styles for Login Box Form
 **********************/

.form-item {
	position: relative;
	padding: 15px 0;
	p { 
		line-height: 1em;
		img {
			margin: 0 10px;
		}
	}
}

.form-input {
	width: 100%;
	height: 45px;
	padding-left: 60px;
	text-align: left;
	border-radius: 5px;
	border: 1px solid $light-gray;
	-webkit-appearance: none;
	transition-duration: .5s;
	transition-property: all;
	&:focus {
		outline: none;
		border: 1px solid $midlight-gray;
		background-color: $white-semismoked;
	}
}

.form-item  input:-webkit-autofill {
  -webkit-box-shadow: 0 0 0px 100px white inset;
}

.form-input--error {
	border: 1px solid $red-dark-coral;
}

.form-item--condensed {
	padding: 5px 0;
}

.label-staylogged {
	margin-left: 10px;
	cursor: pointer;
	font-weight: $regular;
	@include media(mobile-only) { 
		margin-right: 4px;
    font-size: 13px;
  } 
}

.forgot-password {
	@include media(mobile-only) { 
		margin-top: 3px;
		font-size: 13px;
  } 
}

.office-logo{
	width: 40px; 
	height: 40px;
	@include media(mobile-only) { 
		width: 20px;
  } 
}

.button {
    min-height: 40px;
    height: auto;
	border:none;
	border-radius: 5px;
	font-weight: $bold;
	text-transform: uppercase;
	color: $white;
	transition-duration: .5s;
	transition-property: all;
	
	&:hover {
		color: $white;
		opacity: 0.95;
	}
	
	i {
		font-size: 25px;
	}
}

.button--has-full-width {
	width: 100%;
}

.button--has-orange {
	background-color: $orange; 
}

.button--has-blue {
	padding-top: 10px;
	background-color: $blue-cobalt; 
}

.button--has-gray {
	background-color: $mid-gray; 
}

.is-disabled {
	background-color: $midlight-gray;
	cursor: default;
}


/* Styles for Icons
 **********************/

.input-icon {
	height: 25px;
	width: 25px;
	display: block;
	position: absolute; 
	top: 25px;
	left: 15px;
	font-size: 25px;
	opacity: 0.35;
}

.icon-email {
	background-image: url("../img/icons/icon-email.svg");
	background-size: 25px;
}

.icon-padlock {
	background-image: url("../img/icons/icon-padlock.svg");
	background-size: 25px;
}

.icon-flag {
	background-image: url("../img/icons/icon-flag.svg");
	background-size: 25px;
}

.icon-circle-help {
	height: 22px;
	width: 22px;
	display: inline-block;
	vertical-align: top;
	margin: 0 10px;
	background-image: url("../img/icons/icon-circle-help.svg");
	background-size: 22px;
}

.icon-simple-close {
	height: 10px;
	width: 10px;
	display: block;
	background-image: url("../img/icons/icon-simple-close.svg");
	background-size: 10px;
}


/* Styles for Animated Label 
 **********************/

.form-label {
	position: absolute;
	top: 28px;
	left: 60px;
	cursor: text;
	font-weight: $thin;
	color: $midlight-gray; 
	transition-duration: .25s;
	transition-property: all;
}

.is-active .form-label {
	position: absolute;
	top: -6px;
	left: 10px; 
	font-size: 12px;
	color: $gray;
}

.is-active .input-icon {
	opacity: 1;
}


/* Styles for Dropdown
 **********************/

.dropdown {
	.form-input {
		padding-top: 10px;
		font-weight: $thin;
		color: $midlight-gray;
	}
	i{
		top: 10px;
	}
}

.icon-caret-dropdown {
    width: 20px;
	display: block;
	position: absolute;
	right: 20px;
}

.icon-caret-dropdown::after,.icon-caret-dropdown::before {
	height: 2px;
	width: 12px;
	display: block;
	position: absolute;
	top: 10px;
	content: "";
	background-color: $midlight-gray;
}

.icon-caret-dropdown::after {
	right: 0;
	transform: rotate(-45deg);
}

.icon-caret-dropdown::after,.icon-caret-dropdown::before {
	transition-duration: .3s;
	transition-property: transform;
}

.icon-caret-dropdown::before {
	left: 0;
	transform: rotate(45deg);
}


/* Extract from Bootstrap
 **********************/

.dropdown {
  position: relative;
}
.dropdown-toggle:focus {
  outline: 0;
}
.dropdown-menu {
	min-width: 100%;
  position: absolute;
  display: none;
  float: left;
	top: 100%;
  left: 0;
  padding: 5px 0;
  margin: 2px 0 0;
  font-size: 14px;
  text-align: left;
	z-index: $zIndex-9;
  background-color: #ffffff;
  border: 1px solid #cccccc;
  border: 1px solid rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  -webkit-box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
	list-style: none;
  -webkit-background-clip: padding-box;
          background-clip: padding-box;
}
.dropdown-menu.pull-right {
  right: 0;
  left: auto;
}
.dropdown-menu .divider {
  height: 1px;
  margin: 9px 0;
  overflow: hidden;
  background-color: #e5e5e5;
}
.dropdown-menu > li > a {
  display: block;
  padding: 8px 20px;
  clear: both;
  font-weight: normal;
  line-height: 1.42857143;
  color: #333333;
  white-space: nowrap;
}
.dropdown-menu > li > a:hover,
.dropdown-menu > li > a:focus {
  text-decoration: none;
  color: #262626;
  background-color: #f5f5f5;
}
.dropdown-menu > .active > a,
.dropdown-menu > .active > a:hover,
.dropdown-menu > .active > a:focus {
  color: #ffffff;
  text-decoration: none;
  outline: 0;
  background-color: #337ab7;
}
.dropdown-menu > .disabled > a,
.dropdown-menu > .disabled > a:hover,
.dropdown-menu > .disabled > a:focus {
  color: #777777;
}
.dropdown-menu > .disabled > a:hover,
.dropdown-menu > .disabled > a:focus {
  text-decoration: none;
  background-color: transparent;
  background-image: none;
  filter: progid:DXImageTransform.Microsoft.gradient(enabled = false);
  cursor: not-allowed;
}
.open > .dropdown-menu {
  display: block;
}
.open > a {
  outline: 0;
}
.dropdown-menu-right {
  left: auto;
  right: 0;
}
.dropdown-menu-left {
  left: 0;
  right: auto;
}
.dropdown-header {
  display: block;
  padding: 3px 20px;
  font-size: 12px;
  line-height: 1.42857143;
  color: #777777;
  white-space: nowrap;
}
.dropdown-backdrop {
  position: fixed;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
  z-index: 990;
}
.pull-right > .dropdown-menu {
  right: 0;
  left: auto;
}
.dropup .caret,
.navbar-fixed-bottom .dropdown .caret {
  border-top: 0;
  border-bottom: 4px dashed;
  border-bottom: 4px solid \9;
  content: "";
}
.dropup .dropdown-menu,
.navbar-fixed-bottom .dropdown .dropdown-menu {
  top: auto;
  bottom: 100%;
  margin-bottom: 2px;
}


/* Styles for Form Errors
 **********************/

.form-item--error-container {
	height: auto;
	padding-top: 0;
}

.box-error {
	padding: 25px 30px 5px 20px;
	border-radius: 5px;
	background: $red-light-coral;
	p {
		color: $red-dark-coral;
		a {
			display: inline;
			color: $red-dark-coral;
		}
	}
	.close-action {
		background-color: $red-dark-coral;
	}
}

.box-alert {
	margin-top: 15px; 
	padding: 20px 30px 5px ;
	border-radius: 5px;
	background: $yellow-amber;
	p {
		color: $orange-amber;
		a {
			display: inline;
			color: $orange-amber;
		}
	}
	.close-action {
		background-color: $orange-amber;
	}
}

.close-action {
	position: absolute;
	height: 20px;
	width: 20px; 
	top: 8px;
	right: 8px;
	border-radius: 10px;
	padding: 5px;
}

/* Styles for Footer
 **********************/

.wrapper{
	position: relative;
	height: auto;
}

.footer--has-dark-background {
	width: 100%;
	min-height: 150px;
	height: auto;
	position: relative;
	padding: 80px 0;
	z-index: $zIndex-1;
	border-top: 2px solid #222222;
	li {
		display: inline-block;
		vertical-align: middle;
		float: none;
        width: 100%;
        text-align: left;
        margin-top: 4%;
		a {
		color: $midlight-gray;
		transition-duration: .25s;
		transition-property: all;
        }
		&:hover {
			background-color: $black;
		}
	}
	.copyright {
		color: #AAA197;
	}
}

.laureate-logo {
    text-align: left;
    @include media (desktop-s) {
        text-align: right;
    }  
}

.footer--has-dark-background a {
    display: block;
    color: #c2b9ac;
    font-weight: bold;
}

.footer--has-dark-background .footer-links {
    margin: 20px 0;
    @include media (desktop-s) {
        font-size: 14px;
        margin: 0;
    }
}


/* Styles for Loaders
 **********************/

.content-loader {
  max-width: 60px;
	position: relative;
	/*Remove when loader becomes a module*/
  height: 450px;
	padding-top: 220px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 40px;
	
	@include media(mobile-only) { 
		padding-top: 100px;
  } 
	
  &:after {
    position: absolute;
    display: block; content: '';
    clear: both;
	}
  
  .dot {
    display: block;
    width: 10px; height: 10px;
    float: left;
    margin-right: 6px;
    margin-top: 2px;
    border-radius: 50%;
    opacity: 0; 
		 background-color: $mid-gray;
    transform-origin: center center;
    animation-name:pulse;
    animation-duration: 1.2s;
    animation-iteration-count:infinite;
    &:nth-child(2) {
      width: 14px;
      height: 14px;
      margin-top: 0;
      animation-delay: .12s;
    }
    &:nth-child(3) {
      animation-delay: .24s;
    }
  }
  .dot.orange {
    background-color: $orange;
  }
}

@keyframes pulse {
  0% { 
    opacity: .15; 
    transform: scale(1,1);
  }
  24% { 
    opacity: 1; 
    transform: scale(1.2,.2);
  }
  48% { 
    opacity: .15; 
    transform: scale(1,1);
  }
  100% {} 
}

/* Bar loader
**********************/

.bar-loader {
  width: 0px;
  height: 8px;
  position: absolute;
  top: 100px;
  background: linear-gradient(to left, #F35908, 		rgba(255,255,255,.0));
  animation: bar 1s ease-in forwards, via 1.5s ease-out forwards;
}  


@keyframes bar {
  0% { width: 0px; }
  100% { width: 100%; }
}

@keyframes via {
  0% { opacity: 1; }
  50% {opacity: 1; }
  100% { opacity: 0; }
}

/* Styles for Modal Terms Window
 **********************/

.modal {
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    overflow: auto;
    background: $black;
    z-index: 400;
    
     a {
        display: inline-block;
         color: $orange;
         font-weight: $bold;  
    }
}

.modal-content {
    background-color:$white;
    color: #555555;
    padding: 30px;
    padding: 30px;
    @include media(desktop-s) { 
        padding: 10vh;
    } 
    @include media(desktop-m) { 
        padding: 10vh 12vh;
    } 
}

.form--terms {
    > h4 {
        font-weight: $bold;
        color: $black;
        margin: 40px 0 15px;
    }   
    
    > p {
        font-size: 15px;
        text-align: justify;
        line-height: 1.5em;
        font-weight: $light;
    }
}

.form--terms-accept-decline {
    min-height: 200px;
    height: auto;
    display: block;
    margin-top: 40px;
    position: relative;
    @include media(desktop-s) { 
     min-height: 1px;
    }
     @include media(desktop-m) { 
       padding: 20px 80px 0;
    }
    .is-disabled {
        background-color:#FDE6DA;
    }
}

.message-reread {
    background: #F6F6F6;
    border-radius: 15px;
    min-height: 68px;
    height: auto;
    margin-top: 20px;
    padding: 20px;
    text-align: center;
    
    > p {
        font-size: 18px;
        margin-bottom: 0;
    }
}

/* Terms Progress
 **********************/

.terms-progress {
    width: 220px;
    margin: 10px auto;
    position: relative;
    height: 40px;
    @include media(desktop-s) { 
        width:270px;
    } 
    
}

.progress-circle {
    background-color: $light-gray;
    border-radius: 20px;
    border: 4px solid #F6F6F6;
    position: absolute;
    margin: 10px 20px;
    height: 35px;
    width: 35px;
    &:first-child {
        left:0;
    }
    &:last-child {
        right:0;
    }
    &:first-child:after {
        content:'';
        height: 5px;
        width: 115px;
        background-color: #F6F6F6;
        position: absolute;
        display: block;
        left: 30px;
        top: 11px;
    }
    
    @include media(desktop-s) { 
        &:first-child:after {
            width: 165px;
        }
    } 
}

.progress-circle.current {
    background-color:#D24E2F;
}

.progress-circle.success {
    background: url("../img/icons/icon-check-bold.svg") #B8E986 center no-repeat;
    background-size: 20px;
    &:first-child:after {
        background: #B8E986; 
    }
}
/* Checkboxes
*********************/

[type="checkbox"]:not(:checked),
[type="checkbox"]:checked {
  position: absolute;
  left: -9999px;
}
[type="checkbox"]:not(:checked) + label,
[type="checkbox"]:checked + label {
  position: relative;
  padding-left: 40px;
  cursor: pointer;
    font-weight: $regular;
}

[type="checkbox"]:not(:checked) + label:before,
[type="checkbox"]:checked + label:before {
  content: '';
  position: absolute;
  left:0; 
  top: -3px;
  width: 28px; 
  height: 28px;
  border: 2px solid #CCCCCC;
  border-radius: 3px;
  background: $white;
}

[type="checkbox"]:checked + label:before {
  border: 2px solid #B8E986;
}

/* Checkbox Effects
**********************/

[type="checkbox"]:not(:checked) + label:after,
[type="checkbox"]:checked + label:after {
    content: '';
    background-image: url("../img/icons/icon-check-bold-green.svg");
    background-size: 28px;
    height: 28px;
    width: 28px;
    position: absolute;
    top: -3px;
    left: 0;
    font-size: 20px;
    color: #F35908;
    -webkit-transition-property: all;
    transition-property: all;
    -webkit-transition-duration: 1s;
    transition-duration: 1s;
}

[type="checkbox"]:not(:checked) + label:after {
  opacity: 0;
  -ms-transform: scale(0);
  -webkit-transform: scale(0); 
  transform: scale(0);
}

[type="checkbox"]:checked + label:after {
  opacity: 1;
  -ms-transform: scale(1);
  -webkit-transform: scale(1);
  transform: scale(1);
}   
