.maintenance-window {
	background-image: url("/assets/images/404/404.png");
	background-size: cover;
	color: $white;
	text-align: center;
	width: 100%;
	height: 100%;
	display: block;
	position: fixed;
	top: 0;
	bottom: 0;

	img {
		margin-top: 100px;
		width: 200px;
		height: 200px;
	}
	
	.maintenance-window__title {
		font-family: $Gibson;
		font-size: 50px;
		font-weight: $bold;
		color: #FFFFFF;
		letter-spacing: 1.56px;
		text-shadow: 0 1px 4px rgba(0,0,0,0.50);
	}

	.maintenance-window__subtitle {
		font-size: 12px;
		font-weight: $semibold;
		color: #FFFFFF;
		letter-spacing: 1px;
		line-height: 16px;
		text-transform: uppercase;
	}

}